<!DOCTYPE html>
<html lang="en">
<head>
    {% extends "core/base.html" %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{%block title %}Cobntact {% endblock %}</title>
</head>
<body>
    {% comment %}  para que se vea la imagen que esta en  la base el codigo debe quedar en una sola liea sino no aparese la imagen  {% endcomment %}
    {%block background%} {% load static %}{% static 'core/img/contact-bg.jpg' %}{%endblock%}
    


    {%block headers %} 
    <h1>Contacto</h1>
    <span class="subheading">Asesoría</span>
    {%endblock%}
   
    <!--  estos tags muestre este contenido y con el extend se muestra lo que hay en la base -->
    {%block content %} 
    <div class="row">
    <div class="col-lg-8 col-md-10 mx-auto">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe nostrum ullam eveniet pariatur voluptates odit, fuga atque ea nobis sit soluta odio, adipisci quas excepturi maxime quae totam ducimus consectetur?</p>
        <br>
        <p><b>Teléfono:</b> +09 876 543 210</p>
        <p><b>Honorarios:</b> 60€/h (precio base)</p>
      </div>
    </div>
    {% endblock %}
   
   
</body>
</html>